JELLYFIN_HOST_BIND=0.0.0.0
JELLYFIN_PORT=8096
JELLYFIN_DISCOVERY_BIND=0.0.0.0
JELLYFIN_LOCAL_DISCOVERY_PORT=7359
JELLYFIN_TIMEZONE=Europe/Dublin
JELLYFIN_PUBLISHED_SERVER_URL=https://jellyfin.internal.example
JELLYFIN_CONFIG_DIR=/volume1/docker/homelab/hhnas4/jellyfin/config
JELLYFIN_CACHE_DIR=/volume1/docker/homelab/hhnas4/jellyfin/cache
JELLYFIN_MEDIA_DIR=/volume1/Media
