QBITTORRENT_VERSION=latest
QBITTORRENT_TIMEZONE=Europe/Dublin
QBITTORRENT_PUID=1026
QBITTORRENT_PGID=100
QBITTORRENT_HOST_BIND=127.0.0.1
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_TORRENT_BIND=0.0.0.0
QBITTORRENT_TORRENT_PORT=6881
QBITTORRENT_DOWNLOADS_DIR=/volume1/Media/Downloads/qbittorrent
