[Interface]
PrivateKey = ${WG_PRIVATE_KEY}
Address = 10.0.0.10/24
# DNS = 1.1.1.1

[Peer]
# VPS-01 (203.0.113.10)
PublicKey = S1xPUTxwZpxKk63/9ZJcEIJfatGpGtbLUpR8wqlo7xU=
Endpoint = 203.0.113.10:51820
AllowedIPs = 10.0.0.10/24
PersistentKeepalive = 25
