REDIS_PORT=6379
REDIS_BIND=0.0.0.0
REDIS_ADMIN_USERNAME=redis-admin
REDIS_ADMIN_PASSWORD=change-me-redis-admin-password
REDIS_OUTLINE_USERNAME=outline
REDIS_OUTLINE_PASSWORD=change-me-redis-outline-password
REDIS_SCHOLARSOME_USERNAME=scholarsome
REDIS_SCHOLARSOME_PASSWORD=change-me-scholarsome-redis-password
